[submodule "libft"]
	path = libft
	url = https://github.com/GCgang/libft.git
[submodule "get_next_line"]
	path = get_next_line
	url = https://github.com/GCgang/get_next_line.git
[submodule "ft_printf"]
	path = ft_printf
	url = https://github.com/GCgang/ft_printf.git
[submodule "fract-ol"]
	path = fract-ol
	url = https://github.com/GCgang/fract-ol.git
[submodule "pipex"]
	path = pipex
	url = https://github.com/GCgang/pipex.git
[submodule "push_swap"]
	path = push_swap
	url = https://github.com/GCgang/push_swap.git
[submodule "philosophers"]
	path = philosophers
	url = https://github.com/GCgang/philosophers.git
